body {
  background-color: #444444;
  
}
h1 {
  /* For h1 tag */
  color: indigo;
  padding: 10px;
}
h1.title_border {
  /* For h1 tags with the class "border" */
  color: white;
  padding: 20px;
  border: 3px whitesmoke solid;
  border-radius:7px;
  text-align:center;
  margin:20px;
}

.border {
  /* For tags with the class "border" */
  padding: 20px;
  border: 3px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}
h2,
h3,
h6,
h7,
p {
  /* For h2, h3, pre, and p tags */
  color: ghostwhite;
}

hr {
  color:white;
  height:5px;
  width:100%;
}

blockquote {
  color: ghostwhite;
  font-size: medium;
}

#splatoon {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: mediumturquoise;
}
#valorant {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fa4454;
}
#hollowKnight {
  /*Simon added this*/
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}
#mother3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: indianred;
}

#hollowKnight {
  /*Simon added this*/
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

a:hover {
  background-color: gold;
}

img {
  margin:1%; 
  width: 100%;
}
